.description{
    grid-area:description;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
    display: grid;
    font-size: 16px;
    font-weight: 500;
    max-width: 700px;
    grid-template-columns: 1fr;
}
.description-text{
    grid-column: 1/-1;
    grid-row: 1/-1;
}