.logo-container{
    grid-area: logo;
}
.logo{
    animation: logo-spin infinite 20s linear;
    height:40vmin;
}
@keyframes logo-spin{
    0% {
        transform: rotate(-25deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-25deg);
    }
}